src/services/xsd/ovMessagesV3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:ov="http://jaxb.liquidsoap.pageone.com" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" jaxb:extensionBindingPrefixes="xjc" jaxb:version="2.0" targetNamespace="http://jaxb.liquidsoap.pageone.com">
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings>
                <xjc:serializable/>
            </jaxb:globalBindings>
        </xs:appinfo>
    </xs:annotation>
    <xs:import/>
    <xs:element name="pageoneHeader">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="session-id" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="isActiveRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user-id" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="isActiveResponse">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:boolean">
                    <xs:attribute name="description" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="loginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user-id" type="xs:string"/>
                <xs:element name="pwd" type="xs:string"/>
            </xs:sequence>
            <xs:attribute default="0" name="service-id" type="xs:int" use="optional"/>
            <xs:attribute name="version-id" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="loginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="ov:statusType"/>
                <xs:element minOccurs="0" name="version-id" type="xs:string"/>
                <xs:element minOccurs="0" name="link" type="xs:string"/>
                <xs:element minOccurs="0" name="message">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="version-id" type="xs:string"/>
                            <xs:element minOccurs="0" name="description" type="xs:string"/>
                            <xs:element minOccurs="0" name="message" type="xs:string"/>
                            <xs:element minOccurs="0" name="link" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="logoffRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="logoffResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="result" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sendTTSMessageRequest" type="ov:sendTTSMessageType"/>
    <xs:element name="sendTTSMessageResponse" type="ov:sendMessageResponseType"/>
    <xs:element name="sendMessageRequest" type="ov:sendMessageType"/>
    <xs:element name="sendMessageResponse" type="ov:sendMessageResponseType"/>
    <xs:element name="sendMultiMessageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="20" name="messagePacket" type="ov:sendMultiMessageType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sendMultiMessageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="messagePacketResponse">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="ov:sendMessageResponseType">
                                <xs:attribute name="requestID" type="xs:long"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sendBusinessCardRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="sourceAddress" type="xs:string"/>
                <xs:element maxOccurs="100" name="destinationAddress" type="xs:string"/>
                <xs:element name="Card">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FirstName" type="xs:string"/>
                            <xs:element name="SurName" type="xs:string"/>
                            <xs:element minOccurs="0" name="EmailAddress" type="xs:string"/>
                            <xs:element minOccurs="0" name="MobileNumber" type="xs:string"/>
                            <xs:element minOccurs="0" name="Address">
                                <xs:complexType>
                                    <xs:sequence>
                                    <xs:element minOccurs="0" name="Company"/>
                                    <xs:element minOccurs="0" name="StreerAddress" type="xs:string"/>
                                    <xs:element minOccurs="0" name="City" type="xs:string"/>
                                    <xs:element minOccurs="0" name="PostCode" type="xs:string"/>
                                    <xs:element minOccurs="0" name="Country" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sendBusinessCardResponse" type="ov:sendMessageResponseType"/>
    <xs:element name="sendCalendarRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="sourceAddress" type="xs:string"/>
                <xs:element maxOccurs="100" name="destinationAddress" type="xs:string"/>
                <xs:element name="Event">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Summary" type="xs:string"/>
                            <xs:element minOccurs="0" name="Description" type="xs:string"/>
                            <xs:element minOccurs="0" name="Category" type="xs:string"/>
                            <xs:element minOccurs="0" name="Classification" type="xs:string"/>
                            <xs:element name="StartTime" type="xs:dateTime"/>
                            <xs:element name="EndTime" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sendCalendarResponse" type="ov:sendMessageResponseType"/>
    <xs:element name="pushWapRequest" type="ov:pushWapType"/>
    <xs:element name="pushWapResponse" type="ov:sendMessageResponseType"/>
    <xs:element name="pushMultiWapRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="20" name="messagePacket" type="ov:pushMultiWapType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pushMultiWapResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="messagePacketResponse">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="ov:sendMessageResponseType">
                                <xs:attribute name="requestID" type="xs:long"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deliveryReportRequest">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element minOccurs="0" name="report">
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="address" type="xs:string"/>
                            <xs:element minOccurs="0" name="dateRange">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                    <xs:element minOccurs="0" name="from" type="xs:dateTime"/>
                                    <xs:element minOccurs="0" name="to" type="xs:dateTime"/>
                                    </xs:sequence>
                                    <xs:attribute name="rangeType" type="xs:int" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="messageID" type="xs:long" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="resultSetID" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deliveryReportResponse">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element minOccurs="0" name="metadata">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="resultSetID" type="xs:string"/>
                            <xs:element name="resultSetHasMore" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="receipt">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="recipient" type="xs:string"/>
                            <xs:element minOccurs="0" name="dateTimeOfReq" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="dateTimeOfResp" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="resultCode" type="xs:int"/>
                            <xs:element minOccurs="0" name="id" type="xs:long"/>
                            <xs:element minOccurs="0" name="message" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="replyRequest">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element minOccurs="0" name="resultSetID" type="xs:string"/>
                <xs:element minOccurs="0" name="timeSpan">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="from" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="to" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="replyResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="metadata">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="resultSetID" type="xs:string"/>
                            <xs:element name="resultSetHasMore" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="reply" type="ov:reply"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pingRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="pingResponse">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:boolean">
                    <xs:attribute name="description" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMsisdnRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getMsisdnResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="msisdn" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCreditsRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getCreditsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="creditsRemaining" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="acknowledgeCallBack">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="acknowledge" nillable="false" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getTemplatesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="template">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="id" type="xs:string"/>
                            <xs:element minOccurs="0" name="description" type="xs:string"/>
                            <xs:element minOccurs="0" name="message" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getTemplatesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="template">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="id" type="xs:string"/>
                            <xs:element minOccurs="0" name="description" type="xs:string"/>
                            <xs:element minOccurs="0" name="message" type="xs:string"/>
                            <xs:element minOccurs="0" name="status" type="ov:statusType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getReceiptRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getReceiptResponse" type="ov:receiptType"/>
    <xs:element name="getInboundRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getInboundResponse" type="ov:inboundType"/>
    <xs:element name="getReceiptsRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getReceiptsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="20" minOccurs="0" name="receipts" type="ov:receiptType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getInboundsRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getInboundsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="20" minOccurs="0" name="messages" type="ov:inboundType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="reply">
        <xs:sequence>
            <xs:element name="recipient" type="xs:string"/>
            <xs:element name="dateTimeOfReq" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="dateTimeOfResp" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="transactionID" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="statusType">
        <xs:simpleContent>
            <xs:extension base="xs:int">
                <xs:attribute name="description" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="inboundType">
        <xs:sequence>
            <xs:element minOccurs="0" name="source" type="xs:string"/>
            <xs:element minOccurs="0" name="destination" type="xs:string"/>
            <xs:element minOccurs="0" name="timeReceived" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="messageID" type="xs:int"/>
    </xs:complexType>
    <xs:complexType name="receiptType">
        <xs:sequence>
            <xs:element name="source" type="xs:string"/>
            <xs:element name="destination" type="xs:string"/>
            <xs:element name="sentAt" type="xs:dateTime"/>
            <xs:element name="updatedAt" type="xs:dateTime"/>
            <xs:element name="resultCode" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="transactionID" type="xs:long"/>
    </xs:complexType>
    <xs:complexType name="sendMessageType">
        <xs:sequence>
            <xs:element minOccurs="0" name="sourceAddress" type="xs:string"/>
            <xs:element maxOccurs="100" name="destinationAddress" type="xs:string"/>
            <xs:element name="message" nillable="false" type="xs:string"/>
            <xs:element minOccurs="0" name="expireAt" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="deliverAt" type="xs:dateTime"/>
        </xs:sequence>
        <xs:attribute default="false" name="flashSMS" type="xs:boolean"/>
    </xs:complexType>
    <xs:complexType name="sendTTSMessageType">
        <xs:sequence>
            <xs:element minOccurs="0" name="sourceAddress" type="xs:string"/>
            <xs:element maxOccurs="100" name="destinationAddress" type="xs:string"/>
            <xs:element name="message" nillable="false" type="xs:string"/>
            <xs:element minOccurs="0" name="deliverAt" type="xs:dateTime"/>
        </xs:sequence>
        <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="pushWapType">
        <xs:sequence>
            <xs:element minOccurs="0" name="sourceAddress" type="xs:string"/>
            <xs:element maxOccurs="100" name="destinationAddress" type="xs:string"/>
            <xs:element name="title" nillable="false" type="xs:string"/>
            <xs:element name="url" nillable="false" type="xs:string"/>
            <xs:element minOccurs="0" name="expireAt" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sendMultiMessageType">
        <xs:complexContent>
            <xs:extension base="ov:sendMessageType">
                <xs:attribute name="requestID" type="xs:long" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="pushMultiWapType">
        <xs:complexContent>
            <xs:extension base="ov:pushWapType">
                <xs:attribute name="requestID" type="xs:long"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="sendMessageResponseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="transactionID" nillable="true" type="xs:long"/>
            <xs:element name="status" type="ov:statusType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="liquidError" type="xs:string"/>
    <xs:element name="liquidError2" type="xs:string"/>
    <xs:element name="liquidError3" type="xs:string"/>
    <xs:element name="receivedMessageListenerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="wsdlUrl" type="xs:string"/>
                <xs:element minOccurs="0" name="wsdlType" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deliveryReportListenerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="wsdlUrl" type="xs:string"/>
                <xs:element minOccurs="0" name="wsdlType" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pagerMessageListenerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="wsdlUrl" type="xs:string"/>
                <xs:element minOccurs="0" name="wsdlType" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="listListenersRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="listListenersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="listenerWsdlUrl">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="id" type="xs:long"/>
                                <xs:attribute name="type"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="unregisterListenerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="status" type="ov:statusType"/>
    <xs:element name="zipFile" type="xs:base64Binary" xmime:expectedContentTypes="application/zip"/>
    <xs:element name="Detail" type="ov:DetailType"/>
    <xs:complexType name="DetailType">
        <xs:sequence>
            <xs:element name="Photo" type="xs:base64Binary"/>
            <xs:element name="image" type="xs:base64Binary" xmime:expectedContentTypes="image/jpeg"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>